<link href="/css/output.css" rel="stylesheet"> 

<footer class="bg-primary-focus mt-8 p-8 flex flex-col items-center"> 
  <p>&copy; Kristen Smith</p>
  <ul class="flex flex-row space-x-3">
    <li><a href="https://github.com/kristenlynne" class="text-lg"><i class="fa-brands fa-square-github"></i></a></li>
    <li><a href="https://www.linkedin.com/in/kristen-lynne/" class="text-lg"><i class="fa-brands fa-linkedin"></i></a></li>
    <li><a href="https://twitter.com/kristencancode" class="text-lg"><i class="fa-brands fa-square-twitter"></i></a></li>
  </ul>
</footer>

</body>
</html>