<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="icon" type="image/png" sizes="32x32" href="/imgs/logoicon.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/css/output.css" rel="stylesheet">
    <title>Book Club</title>
  </head>

  <body>

      <nav class="relative container mx-auto p-6">
        <div class="flex items-center justify-between">
          <div class="pt-2 w-48 h-12">
            <a href="/feed">
              <img src="/imgs/cover.png" alt="Book Club Logo">
            </a>
          </div>
          <div class="hidden md:flex space-x-3">
            <a href="/login" class="btn btn-primary btn-outline">Login</a>
            <a href="/signup" class="btn btn-primary">Sign up</a>
          </div>
          <button id="menu-btn" class="block hamburger md:hidden focus:outline-none">
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
          </button>
        </div>

        <div class="md:hidden">
          <div class="absolute flex-col items-center hidden self-end py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shawdow-md" id="menu">
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
          </div>
        </div>
      </nav>

  </body>
</html>
