<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/css/output.css" rel="stylesheet">
    <title>Book Club</title>
  </head>

  <body>

      <nav class="relative container mx-auto p-6">
        <div class="flex items-center justify-between">
          <div class="pt-2"><a href="/profile">Book Club</a></div>
          <div class="hidden space-x-6 md:flex">
            <a href="/feed">Feed</a>
            <a href="/profile">My Profile</a>
            <a href="#">Saved Books</a>
            <a href="#">Add Post</a>
          </div>

          <a href="/logout" class="btn btn-primary btn-outline">Logout</a>


          <button id="menu-btn" class="block hamburger md:hidden focus:outline-none">
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
          </button>
        </div>

        <div class="md:hidden">
          <div class="absolute flex-col items-center hidden self-end py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shawdow-md" id="menu">
            <a href="/logout">Logout</a>
          </div>
        </div>
      </nav>

  </body>
</html>