<%- include('partials/header') -%>

<main class="container mx-auto p-6">
  <div class="flex justify-center p-6">
    <section class="p-6 border-2 rounded-lg bg-base-200">
      <h1 class="text-center font-bold text-3xl uppercase pb-6">Log in with email</h1>
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %>
      <form action="/login" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="">Email address</label>
          <input
            type="email"
            class="input input-bordered input-secondary w-full max-w-xs"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="">Password</label>
          <input
            type="password"
            class="input input-bordered input-secondary w-full max-w-xs"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <div class="flex justify-center pt-4">
          <button type="submit" class="btn btn-primary btn-outline btn-wide">login</button>
        </div>
      </form>
    </section>
  </div>
</main>

<%- include('partials/footer') -%>
